<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand p-0" do %>
      <%= image_tag "logo.png", style: "height: 60px;width: auto;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">

        <% if user_signed_in? && current_user.person? %>

          <li class="nav-item">
            <%= link_to "My trades", root_path(anchor: 'trades'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Materials", materials_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cooperatives", cooperatives_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" style="cursor: pointer;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag(current_user.photo.key, width: 150, height: 150, crop: :fill, class: "avatar") %>
              <% else %>
                <%= cl_image_tag("Portrait_Placeholder_entv4p", width: 150, height: 150, crop: :fill, class: "avatar") %>
              <% end %>
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <div class="dropdown-item py-0"><hr class="my-1"></div>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
              <% end %>
            </div>
          </li>

        <% elsif user_signed_in? && current_user.cooperative? %>
          <li class="nav-item px-2 fw-bold">
            <%= current_user.name %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" style="cursor: pointer;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag(@current_user.photo.key, width: 150, height: 150, crop: :fill, class: "avatar") %>
              <% else %>
                <%= cl_image_tag("Portrait_Placeholder_entv4p", width: 150, height: 150, crop: :fill, class: "avatar") %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Dashboard", root_path, class: "dropdown-item" %>
              <div class="dropdown-item py-0"><hr class="my-1"></div>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
              <% end %>
            </div>
          </li>

        <% else %>

          <li class="nav-item px-2">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn btn-success text-white" %>
          </li>
          <li class="nav-item px-2">
            <%= link_to "Log in", new_user_session_path, class: "nav-link btn btn-outline-secondary" %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</div>
