<div class="col-9">
  <div class="card h-100 border-0 rounded-0">
    <div class="card-body">
      <h3>Edit information</h3>

      <% unless current_user.description? %>
        <p class="h5 text-primary">Add a description:</p>
      <% else %>
        <p class="h5 text-primary">Edit description:</p>
      <% end %>
      <%= simple_form_for current_user, url: cooperative_path(current_user), data: { turbo_method: :patch } do |f| %>
        <%= f.input :description, input_html: { class: "bg-white" },
        label: false, placeholder: "Write something..." %>
        <%= f.submit "Update", class: "btn btn-primary px-4" %>
      <% end %>
      <br>
      <p class="h5 text-primary">Accepted materials:</p>

      <% if current_user.materials.count == 0 %>
        <p>No materials yet. Add some below!</p>
      <% else %>

        <div class="row justify-content-start mb-3">
          <% @cooperative_materials.each do |cooperative_material| %>
            <%= render "delete-material", cooperative_material: cooperative_material %>
          <% end %>
        </div>
      <% end %>

      <p class="h5 text-primary">Add a material:</p>
      <%= simple_form_for @cooperative_material do |f| %>
        <%= f.input :material_id, collection: @materials, label_method: :name, value_method: :id,
        label: false, input_html: { class: "bg-white"} %>
        <%= f.submit "Add", class: "btn btn-primary px-4" %>
      <% end %>

    </div>
  </div>
</div>
