<div class="col-9">
  <div class="card border-0 rounded-0">
    <div class="card-body">
      <h3>Edit information</h3>
      <%# Show forms to edit fields if cooperative, if person %>

      <%# BROKEN %>

      <%= simple_form_for current_user, url: cooperative_path(current_user), data: { turbo_method: :patch } do |f| %>
        <%= f.input :description %>
        <%= f.submit "Update" %>
      <% end %>

        <h3><%= current_user.description %></h3>

        <%= simple_form_for @cooperative_material do |f| %>
          <%= f.input :material_id, collection: @materials, label_method: :name, value_method: :id %>
          <%= f.submit "Add" %>
        <% end %>


    </div>
  </div>
</div>
