<% if current_user&.person? %>
  <div class="bg-success">
    <div class="container-fluid py-3">
      <div class="row g-3 justify-content-center align-items-center">
        <% @materials.each do |material| %>
          <%= render "material", material: material %>
        <% end %>
        <div class="col-auto">
          <%= link_to materials_path, class: "btn btn-primary" do %>
            More materials <i class="fa-solid fa-angle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if current_user&.person? %>
  <div class="container py-5">
    <div class="pb-5">
      <h4 class="mb-4">Your active trades:</h4>
      <% if @trades.count == 0 %>
        <p><strong class="text-primary">You haven't traded anything yet!</strong>
        <br>
        Want to recycle your materials? Check available cooperatives <%= link_to "here", cooperatives_path %></p>
      <% else %>
        <table class="table bg-white" id="trades">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">Cooperative</th>
              <th scope="col">Material</th>
              <th scope="col">Quantity</th>
              <th scope="col">Created</th>
              <th scope="col">Delivery method</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @trades.each do |trade| %>
              <%= render "trade-row", trade: trade %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <h4 class="mb-4">Cooperatives close to you:</h4>
    <div style="width: 100%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% elsif current_user&.cooperative? %>
  <div class="container py-5">
    <h4>Active trades:</h4>
    <% if @trades.count == 0 %>
      <strong>You don't have any trades yet</strong>
    <% else %>
      <table class="table bg-white">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">Customer</th>
              <th scope="col">Material</th>
              <th scope="col">Quantity</th>
              <th scope="col">Created</th>
              <th scope="col">Delivery method</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @trades.each do |trade| %>
              <%= render "trade-row", trade: trade %>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
<% else %>
  <div class="text-center bg-success" style="padding: 40px 200px !important;">
    <h1 style="font-size: 45px;">Do you have recyclable trash and no idea what to do with it?</h1>
    <h3 style="font-weight: normal !important; font-size: 30px;">We're here to save the day! Get in touch with cooperatives that recycle the material that you have. Start now!</h3>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg px-5 mt-3" %>
  </div>
  <div class="container text-center py-5">
    <h2 class="text-center mb-4">Cooperatives that we work with</h2>
    <div class="row justify-content-center">
      <% @cooperatives.each do |cooperative| %>
        <div class="col-2 text-center">
          <%= link_to cooperative_path(cooperative), class: "text-decoration-none" do %>
            <% if cooperative.photo.attached? %>
              <%= cl_image_tag(cooperative.photo.key, width: 150, height: 150, crop: :fill, class: "avatar rounded-circle d-inline-block mb-2", style: "width: 50px; height: 50px;") %>
            <% else %>
              <%# <%= cl_image_tag("placeholder_rk7xuq", width: 150, height: 150, crop: :fill, class: "avatar rounded-circle d-inline-block mb-2", style: "width: 50px; height: 50px;") %>
              <%= image_tag("http://res.cloudinary.com/dfefgeidi/image/upload/c_fill,h_150,w_150/placeholder_rk7xuq", class: "avatar rounded-circle d-inline-block mb-2", style: "width: 50px; height: 50px;") %>
            <% end %>
            <h6><%= cooperative.name %></h6>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="mt-5">
      <h2 class="mb-4">Here are the closest cooperatives to you</h2>
      <div class="d-inline-block" style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
<% end %>
