<%# Make this a partial? v %>
<div class="bg-success d-flex justify-content-between align-items-end w-100 px-5 py-4" style="height: 140px;">
  <div>
    <%# When profile picture not included, show placeholder %>
    <div class="bg-white rounded-circle border me-4 d-inline-block position-relative" style="width: 80px; height: 80px; bottom: -48px;"></div>
    <h1 class="d-inline mb-0"><%= current_user.name %></h1>
  </div>
  <button type="button" class="btn btn-primary align-self-end" data-bs-toggle="modal" data-bs-target="#editPicture">Edit profile picture</button>
</div>

<div class="container py-5">
  <% if current_user.person? %>
    <div class="row justify-content-center">
    <div class="col-6">
  <% end %>

  <% if current_user.cooperative? %>
    <div class="row g-0">
    <div class="col-3 border-end">
  <% end %>

      <div class="card h-100 border-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3 class="card-title">Your account</h3>
            <p class="h5 text-primary">Email:</p>
            <p><%= current_user.email %></p>
            <p class="h5 text-primary">Address:</p>
            <p><%= current_user.address %></p>

            <% if current_user.cooperative? %>
              <p class="h5 text-primary">Description:</p>
              <% if current_user.description? %>
                <p><%= current_user.description %></p>
              <% else %>
                <p>No description yet. Add one so that users can get to know you!</p>
              <% end %>
            <% end %>

            <% if current_user.person? %>
              <div class="d-inline-block mb-3" style="width: 100%; height: 300px;"
                data-controller="map"
                data-map-markers-value="<%= @marker.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            <% end %>

            <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-outline-danger d-block w-100" %>
          </li>

        </ul>
      </div>
    </div>

    <% if current_user.cooperative? %>
      <%= render "cooperative-column" %>
    <% end %>

  </div>
</div>

<%= render "upload-modal" %>
