  <div class="container">
    <h1><%= current_user.name %></h1>
    <h5><%= current_user.address %></h5>
  </div>

<div class="container">
  <% if current_user.cooperative? %>
    <h3><%= current_user.description %></h3>

    <% @cooperative_materials.each do |cooperative_material| %>
      <%= cooperative_material.material.name %>
      <%= link_to "x", cooperative_material_path(cooperative_material), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>

    <% simple_form_for [@cooperative, @cooperative_material], url: cooperative_cooperative_materials_path, data: { turbo_method: :post } do |f| %>
      <% f.input :material_id, collection: @materials, label_method: :name, value_method: :id %>
      <% f.submit "Add" %>
    <% end %>

  <% end %>
</div>

  <%# SHOW ALL TRADES %>
  <div class="container">
    <h4>Your trades:</h4>
      <% if @trades == 0 %>
        <p>You don't have any opened trades</p>
      <% else %>
        <%# IF COOPERATIVE, EDIT TRADES STATUS %>
        <%# <%= render "trade-row" %>
      <% end %>
  </div>

  <%# IF PERSON, SHOW COINS %>

  <div class="container">
    <% if current_user.person?%>
      <p>Your wallet:</p>
    <% end %>
  </div>
