<div class="bg-success position-relative mb-3" style="height: 120px;">
  <div class="bg-white rounded-circle border position-absolute top-100 start-50 translate-middle">
    <% if @cooperative.photo.attached? %>
      <%= cl_image_tag(@cooperative.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "rounded-circle", style: "width: 80px; height: 80px;") %>
    <% else %>
      <%# <%= cl_image_tag("placeholder_rk7xuq", width: 150, height: 150, crop: :fill, gravity: :face, class: "rounded-circle border", style: "width: 80px; height: 80px;") %>
      <%= image_tag("http://res.cloudinary.com/dfefgeidi/image/upload/c_fill,h_150,w_150/placeholder_rk7xuq", class: "rounded-circle border", style: "width: 80px; height: 80px;") %>
    <% end %>
  </div>
</div>

<div class="container py-5 text-center">
  <h1 class="px-md-5 mx-md-5"><%= @cooperative.name %></h1>
  <p class="px-md-5 mx-md-5"><%= @cooperative.description %></p>
  <% if current_user.person? %>
    <%= link_to "Trade materials", new_cooperative_trade_path(@cooperative), class: "btn btn-primary px-5" %>
  <% end %>

  <div class="pt-5">
    <div class="row text-start">
      <div class="col-md-7">
        <h4>Find us here:</h4>

        <div class="d-inline-block" style="width: 100%; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

      </div>
      <div class="col-md-5">
        <h4>Materials we accept:</h4>
        <div class="row g-3 align-items-center">
          <% @cooperative.materials.each do |material| %>
            <%= render "material", material: material %>
          <% end %>
        </div>
        <hr>
        <h4 class="my-3">Get in touch</h4>
        <i class="fa-brands fa-facebook fs-3 text-primary me-2"></i>
        <i class="fa-brands fa-square-twitter fs-3 text-primary me-2"></i>
        <i class="fa-solid fa-globe fs-3 text-primary me-2"></i>
      </div>
    </div>
  </div>
</div>
