<h1>Create a new trade</h1>

<%= simple_form_for [@cooperative, @trade] do |f| %>
  <%= f.association :material %>
  <%= f.input :material_quantity %>
  <%= f.input :delivery_method, collection: ["Pickup", "Drop off"] %>
  <%= f.input :delivery_date %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
