<h1>Create a new trade</h1>

<%= simple_form_for [@trade] do |f| %>
  <%= f.input :material_id, collection: ["Plastic", "Metal", "Batteries", "Glass", "Organic", "Clothes", "Clothes", "Carton"] %>
  <%= f.input :material_quantity %>
  <%= f.input :delivery_method, collection: ["Pickup", "Drop off"] %>
  <%= f.input :delivery_date %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
