<div class="card" style="width: 25%;" >
  <div class="card-body">
    <h5 class="card-title"><%= trade.cooperative.name %></h5>
    <%# resolver a questao do id da cooperativa ser preenchido automaticamente no momento da criacao da trade (esta imprimindo o nome da person pq por hora o id gerado pra person e cooperative eh o mesmo) %>
    <h6 class="card-subtitle mb-2 text-muted">Status: <%= trade.status %></h6>
    <p class="card-text">
      Material: <%= trade.material.name %><br>
      Quantity: <%= trade.material_quantity %> liters<br>
      Created on <%= trade.created_date %><br>
      To <%= trade.delivery_method %> on <%= trade.delivery_date %>
    </p>

    <% if current_user&.person? %>
      <p>Have you changed your mind?</p>
      <%= button_to "Cancel this trade", trade_path(trade), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    <% elsif current_user&.cooperative? %>
        <%= simple_form_for trade do |f| %>
          <%= f.input :status, collection: ["In Progress", "Denied", "Finished"] %>
          <%= f.submit "Change status" %>
          
        <% end %>
    <% end %>
  </div>
</div>
