          <div class="d-flex flex-row">
            <% @trades.each do |trade| %>
              <div class="card" style="width: 18rem;" >
                <div class="card-body">
                  <h5 class="card-title">Cooperative: <%= trade.cooperative.name %></h5>
                  <%# resolver a questao do id da cooperativa ser preenchido automaticamente no momento da criacao da trade (esta imprimindo o nome da person pq por hora o id gerado pra person e cooperative eh o mesmo) %>
                  <h6 class="card-subtitle mb-2 text-muted">Status: <%= trade.status %></h6>
                  <p class="card-text">
                    Material: <%= trade.material.name %><br>
                    Quantity: <%= trade.material_quantity %> liters<br>
                    Created on <%= trade.created_date %><br>
                    To <%= trade.delivery_method %> on <%= trade.delivery_date %>
                  </p>
                  <a href="#" class="card-link">Cancel trade</a>
                  <% if current_user.cooperative?%>
                    <a href="#" class="card-link">Edit trade status</a>
                  <% else %>
                    <a href="#" class="card-link">Another link</a>
                  <% end %>
                  <%# colocar as rotas e mudar para link to %>
                </div>
              </div>
            <% end %>
          </div>
