<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rethink your trash</title>
    <meta name="description" content="Get in touch with cooperatives that recycle the material that you have. Start now!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rethink-your-trash.herokuapp.com/">
    <meta property="og:site_name" content="Rethink your trash">
    <meta property="og:title" content="Rethink your trash | Get in touch with cooperatives that recycle the material that you have">
    <meta property="og:description" content= "Get in touch with cooperatives that recycle the material that you have. Start now!">
    <meta property="og:image" content="logo-rethink-your-trash.jpg">
    <meta property="og:image:url" content="logo-rethink-your-trash.jpg">
    <meta name="twitter:image" content="logo-rethink-your-trash.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div style="min-height: 83vh;">
      <%= yield %>
    </div>
    <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
